*{
    padding: 0px;
    margin: 0px;
}

body{
    background-size:contain;  
    background-image: url("background3.jpg");
}

header{
    height: 7em;
}
#logo{
    max-width: 90px;
    margin-left: 3%;
    margin-top: 20px;
}



.head-tag{
    float:right;
    margin-top: 25px;
    margin-right: 0px;
    
    }

.anchor{
    float: right;
    margin-top: 25px;
}

.head-tag a{
    text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(6, 0, 0);
    border: 1px solid rgb(42, 5, 5);
    padding: 8px;
    margin-right: 8px;
    margin-top: 0%;
    
    
}
.head-tag a:hover{
    background-color:rgb(253, 253, 253);
    color: black;
    transition: 0.2s ease-in-out;
} 

.head-tag h3{
    margin-top: 1px;
    margin-right: 11em;
    font-size: 55px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(0, 0, 0);
    
}